# Packages
node_modules/
package-json.lock
yarn.lock

# Log files
logs/
*.log

# Build files
*.tsbuildinfo
*.tgz

# NPM ignore
scripts/
test/
.prettierrc.js
.eslintrc.js
.gitattributes
.gitignore
tsconfig.json

# Source Code, only the dist is shipped
src/
